body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}